@import url('https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@layer base {
  :root {
    --font-roboto: "Roboto", sans-serif;
    --font-jeju-myeongjo: "Jeju Myeongjo", serif;
    --font-road-rage: "Road Rage", cursive;
  }

  body {
    font-family: var(--font-roboto);
    background: radial-gradient(circle, #24A0B5 50%, #041E23 100%);
    color: #FAFAFA;
    min-height: 100vh;
    @apply antialiased;
  }
}

/* Custom Colors */
@layer utilities {
  .text-primary {
    color: #24A0B5;
  }

  .text-secondary {
    color: #12464E;
  }

  .text-accent {
    color: #0E464F;
  }

  .bg-primary {
    background-color: #24A0B5;
  }

  .bg-secondary {
    background-color: #041E23;
  }

  .bg-accent {
    background-color: #133D44;
  }

  .gradient-bg {
    background: radial-gradient(circle, #24A0B5 50%, #041E23 100%);
  }
}
